language: ruby
rvm:
  - 1.9.3
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sudo apt-get install coffeescript"
  - "make build_for_travis"
  - "rake resource:fetch"
script:
  - "bundle exec rake jasmine:ci"

