#bab-main.bab
  .header
    %span.title Auto Builder
    %span.version by masarakki
  .button-box
    %button#bab-main-reload-status ${reload_status}
    %button#bab-main-confirm 確認済み
    %button#bab-main-close 閉じる
    %label
      常駐
      %input#bab-main-stay-mode(name="stay" type="checkbox")
    %span
      巡回時間
      %select#bab-main-round-time(name="round_time")
        - @round_times.each do |time|
          %option(value=time)= "#{time} sec"
    %span
      兵士モード
      %select#bab-main-soldier-type(name="soldier_type")

  #next-time
    次回:
    %span#next-at
    (あと
    %span#after-by
    )
  %table#villages

